@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  --bg_color: #000000;
  --btn_color1: #6841f2;
  --btn_color2: #886bf2;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg_color);
  color: #fff;
}
.navbar {
  background-color: var(--bg_color);
}

.nik_btn {
  background-color: var(--btn_color1);
  border-radius: 50px;
}

.nik_btn:hover {
  background-color: var(--btn_color2);
}